<launch>

    <node pkg="following_wall" type="follow_path_goal.py" name="follow_path_goal" output="screen" ></node>

    <node pkg="following_wall" type="monitor.py" name="monitor"></node>


    <include file="$(find following_wall)/launch/turtlebot3_big_wall.launch"></include>
    
    <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/>

   
</launch>